<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>popular_name</th>
          <th>species</th>
          <th>last_watered</th>
          <th>sun_preference</th>
          <th>soil_preference</th>
          <th>edit</th>
          <th>delete</th>
          <th>detailed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{plant.id}}</td>
          <td>{{plant.popular_name}}</td>
          <td>{{plant.species}}</td>
          <td>{{plant.last_watered}}</td>
          <td>{{plant.sun_preference}}</td>
          <td>{{plant.soil_preference}}</td>
          <td>
            <a href="{% url 'herbarium:plant_edit' plant.id%}">EDITAR</a>
          </td>
          <td>
            <a href="{% url 'herbarium:plant_delete' plant.id%}">DELETE</a>
          </td>
          <td>
            <a href="{% url 'herbarium:plant_read' plant.id%}">DETAILED</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

  <style></style>
</html>
